*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    //efecto en el scroll
    ::-webkit-scrollbar{
        width: 12px;
        background-color: #454d4f;
        
    }
    ::-webkit-scrollbar-thumb{
        background: linear-gradient(transparent,#3c9727);
        border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(transparent,#00c6ff);
    }
    //fin del efecto en el scroll
}
#body_index {
    background: url(../image/fondo/fondo4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#fondo{
    background: url(../image/fondo/fondo2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body{

    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header "
    "main"
    "footer ";
    grid-template-rows: 80px auto auto ;
} 

//Inicio en vista mobile
@media screen and (max-width: 425px){
    //modificacion en vista mobile para ver completo el carrusel 
    .galeria-fondo{
        .body{
            .main{
                #carouselExampleIndicators{
                    margin-top: 35px;
                    margin-bottom: 35px;
                }
            }
        }
    }
    //modificacion del scroll horizontal 
    html, body{
        overflow-x: hidden !important;        
    } 
} 
//fin de vista mobile