.header{
    grid-area: header;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    
    
    .centerd-elements{
        margin: 10px;
        :hover{
            color: rgb(114, 125, 125);
        }    
    }
    .icon{
        color: rgb(79, 86, 86);
        font-size: 65px;
        cursor: pointer;
        padding-left: 10px;
    }
    .header_producto{
        grid-area: header;
        background: #2f8ec5;
    }
    @extend %estructura-vyncrey;

}
#fondoo{
    background-color: #0a141d;
}
