.nav_index{
    grid-area: nav;
    #btn-menu {
        display: none;
    }
    .container-menu{
        position: absolute;
        background: rgba(33, 33, 33, 0.348);
        width: 100%;
        height: 100vh;
        top: 0;left:0 ;
        transition: all 500ms ease;
        opacity: 0s;
        visibility: hidden;
        .cont-menu{
            width: 100%;
            max-width: 250px;
            background: linear-gradient($color-gradientes);
            height: 100vh;
            position: relative;
            transition: all 500ms ease;
            transform: translateX(-100%);
            @extend %estructura_nav;
            @extend %estructura-vyncrey;

            label{
                position: absolute;
                right: 5px;
                top: 10px;
                cursor: pointer;
                font-size: 18px;
            }
            .buttons {
                position:absolute;
                bottom: 10px;
                left: 9px;
                display: flex; 
                justify-content:space-around;
                a{
                    margin: 3px;
                    text-decoration: none;
                    font-size: 28px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #545252;
                    color: map-get($colores, color_white);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 200, 255, 0.5);
                    transition: all .4s ease-in-out;
                    &:hover{
                        transform: scale(1.2);
                        color: map-get($colores, color_blue);
                    }
                }     
            }
        }
    }
    #btn-menu:checked ~ .container-menu{
        opacity: 1;
        visibility: visible;
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateX(0%);
    }
}
//Inicio de la vista Mobile
@media screen and (max-width: 425px){
    .nav_index{
        .container-menu{
            .cont-menu{
                height: 95vh;  
            }
        }
    }   
}
//fin de la vista mobile