.nav_index .container-menu .cont-menu #nav {
  text-align: center;
  transform: translateY(15%);
}
.nav_index .container-menu .cont-menu #nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #d8e2e5;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.nav_index .container-menu .cont-menu #nav a:hover {
  border-left: 5px solid #080808;
  background: linear-gradient(270deg, transparent, #3f4949);
}

.buttons_footer a {
  margin: 3px;
  text-decoration: none;
  font-size: 28px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #545252;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 200, 255, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons_footer a:hover {
  transform: scale(1.6);
}

.footer_producto .grupo1 {
  width: 100%;
  padding: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_producto .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_producto .grupo1 .box figure img {
  width: 200px;
}

.footer_producto .grupo1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer_producto .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
  font-size: 10px;
}

.footer_producto .grupo2 {
  background-color: #3f4549;
  padding: 5px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer_producto .grupo2 small {
  font-size: 15px;
}

.btn4 {
  margin: 10px;
  position: relative;
  display: block;
  height: 60px;
  width: 200px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e220;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}
.btn4 a {
  text-decoration: none;
  color: #fff;
  padding: 28px;
}
.btn4::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #2e8a3d;
  transition: all 500ms ease;
  z-index: -1;
}
.btn4::before {
  left: -520px;
  right: 0;
  width: 100%;
  height: 150%;
  transition: all 750ms ease;
  transform: rotate(45deg);
  box-shadow: 0 0 10px #23e220, 0 0 20px #20e22d, 0 0 20px #20e233;
}
.btn4:hover::before {
  left: 520px;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .centerd-elements {
  margin: 10px;
}
.header .icon {
  color: rgb(79, 86, 86);
  font-size: 35px;
  cursor: pointer;
  padding-left: 10px;
}
.header .header_producto {
  grid-area: header;
  background: #1b262d;
}
.header #vyncrey .box_ {
  position: relative;
  width: 500px;
}
.header #vyncrey h1 {
  margin: 10px;
  padding-left: 10px;
  padding-top: 10px;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
}
.header #vyncrey .lightbar {
  margin: 10px;
  position: absolute;
  top: 2px;
  border-left: 3px;
  width: 5px;
  height: 50px;
  border-radius: 5px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  -webkit-animation: animatelightbar 5s linear infinite;
          animation: animatelightbar 5s linear infinite;
}
@-webkit-keyframes animatelightbar {
  0%, 5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(185px);
  }
  95%, 100% {
    transform: scaleY(0) translateX(185px);
  }
}
@keyframes animatelightbar {
  0%, 5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(185px);
  }
  95%, 100% {
    transform: scaleY(0) translateX(185px);
  }
}

#fondoo {
  background-color: #0a141d;
}

.main {
  grid-area: main;
}
.main #vyncrey {
  width: 100%;
  padding-left: 1%;
  padding-top: 10%;
}
.main .formulario {
  width: 400px;
  background: #03121b;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
}
.main .formulario h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
.main .controles {
  width: 95%;
  background: #343334;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-size: 18px;
}
.main .boton {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.main .formulario .boton {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: #ffffff;
  margin: 16px 0;
  font-size: 16px;
}
.main #nav .a {
  background-color: #829caa;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  top: 0%;
  border-radius: 10px;
}
.main #ttt {
  border: 10px solid #03121b;
  max-width: 600px;
}
.main .form-box {
  width: 370px;
  height: 455px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  font-size: 13px;
  overflow: hidden;
}
.main .form-box .button-box {
  width: 240px;
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #e0e0e0;
  border-radius: 30px;
}
.main .form-box .button-box .toggle-btn {
  padding: 10px 22px;
  cursor: pointer;
  background: transparent;
  border: 0px;
  outline: none;
  position: relative;
}
.main .form-box .button-box #elegir {
  top: 0;
  left: 0;
  position: absolute;
  width: 120px;
  height: 100%;
  background: linear-gradient(to right, rgba(71, 71, 71, 0.7), rgba(21, 170, 190, 0.7));
  border-radius: 30px;
  transition: 0.8s;
}
.main .form-box .input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.8s;
}
.main .form-box .input-group .input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid #054d00;
  outline: none;
  background: transparent;
}
.main .form-box .input-group .submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, rgba(71, 71, 71, 0.7), rgba(21, 170, 190, 0.7));
  border: 0px;
  outline: none;
  border-radius: 30px;
}
.main .form-box .input-group .check-box {
  margin: 30px 10px 30px 0;
}
.main .form-box .input-group span {
  color: #757575;
  font-size: 12px;
  bottom: 64px;
  position: absolute;
}
.main .form-box #login {
  left: 50px;
}
.main .form-box #registrar {
  left: 450px;
}
.main .galeria {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.main .galeria .columnaa {
  flex: 25%;
  padding: 5px;
}
.main .galeria .columnaa img {
  width: 100%;
  margin-top: 1px;
}

@media screen and (max-width: 425px) {
  .main .galeria .columnaa {
    flex: 100%;
  }
}
.nav_index {
  grid-area: nav;
}
.nav_index #btn-menu {
  display: none;
}
.nav_index .container-menu {
  position: absolute;
  background: rgba(33, 33, 33, 0.348);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0s;
  visibility: hidden;
}
.nav_index .container-menu .cont-menu {
  width: 100%;
  max-width: 250px;
  background: linear-gradient(270deg, transparent, #6fa778);
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
.nav_index .container-menu .cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}
.nav_index .container-menu .cont-menu .buttons {
  position: absolute;
  bottom: 10px;
  left: 9px;
  display: flex;
  justify-content: space-around;
}
.nav_index .container-menu .cont-menu .buttons a {
  margin: 3px;
  text-decoration: none;
  font-size: 28px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #545252;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 200, 255, 0.5);
  transition: all 0.4s ease-in-out;
}
.nav_index .container-menu .cont-menu .buttons a:hover {
  transform: scale(1.2);
  color: rgb(56, 133, 189);
}
.nav_index #btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.nav_index #btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.footer {
  grid-area: footer;
  background-color: #0a141d;
  width: 100%;
}
.footer .grupo1 {
  width: 100%;
  padding: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .grupo1 .box img {
  width: 200px;
}
.footer .grupo1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
  font-size: 10px;
}
.footer .grupo2 {
  background-color: #3f4549;
  padding: 5px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}
.footer .grupo2 small {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#body_index {
  background: url(../image/fondo/fondo4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#fondo {
  background: url(../../image/fondo/fondo3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: "header " "main" "footer ";
  grid-template-rows: 80px auto auto;
}/*# sourceMappingURL=style.css.map */