@import "./partials/maps", "./partials/estends" , "./partials/mixins","./partials/button","./partials/header", "./partials/main", "./partials/nav", "./partials/footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
#body_index {
    background: url(../image/fondo/fondo4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#fondo{
    background: url(../../image/fondo/fondo3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body{

    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header "
    "main"
    "footer ";
    grid-template-rows: 80px auto auto ;
    
    
    
} 
