*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/*Body Index*/
#body_index {
    background: url(../image/fondo/fondo4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



.container_main{
    margin: auto;
    width: 800px;
    padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 800px;
    height: 310px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    
}

ul.slider li img{
    width: 100%;
    height: 300px;
    background-size: cover;
  
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; 
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    color: rgb(44, 44, 44);
    text-decoration: none;
    background-color: rgb(51, 125, 147);
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 12px;
    border-radius: 10%;
    
}


/*Body del productos*/
.body_productos{
    height: 100%;
}


.header_producto{
    grid-area: header;
    background: #1b262d;
}
.box_{
    position:absolute;
    width: 5px;
    height: 5px;
    

}
  h1{
    padding-left: 10px;
    padding-top: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff;
}
 .lightbar{
    
    position: absolute;
    top: 8px;
    left: 3px;
    width: 5px;
    height: 5%;
    border-radius: 5px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar{
    0%,5%{
        transform: scaleY(0) translateX(0);
    }
    10%{
        transform: scaleY(1) translateX(0);
    }
    90%{
        transform: scaleY(1) translateX(calc(170px - 5px));
    }
    95%,100%{
        transform: scaleY(0) translateX(calc(170px - 5px));
    }
}


.section_producto{
    grid-area: section;
}

.footer_producto{
    grid-area: footer;
    background-color: #0a141d;
    width: 100%;
    
     
}

/*Galeria de imagen*/







@media all and (max-width: 800px){
    .columna{
        flex: 50%;
    }
}

@media all and (max-width: 400px){
    .columna{
        flex: 100%;
    }
}


.body{
    display: grid;
    font-size: 30px;
    background-color: #1b262d;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header " 
    "section"
    "footer ";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr auto auto;
}
/* segunda parte */
body{
    background-color:rgb(228, 223, 233);
    background-image: url("../image/fondo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 18%;
    margin: 0%;
    padding: 0%;

}
h1{
    text-align: center;;
}  
 

#texto {
    color: rgb(203, 194, 212);
    padding-left: 800px;
    margin-top: -70px;
    text-align: center;
    
}

.footer div a{
    text-decoration: none;
    
}

#fondotitulo{
    width: 500px;
    left: 500px;
}


.formulario{
    width:400px ;
    background: #03121b;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}

.formulario h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.controles{
    width: 95%;
    background: #343334;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
}
.boton{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.formulario .boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}


#nav .a{
    background-color:#829caa;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;;
    top: 0%;
    border-radius: 10px;
}

#ttt{
    border: 10px solid #03121b;
    max-width: 600px;
}

#body_index{
    display: grid;
    grid-template-areas:
    "nav "
    "header"
    "section"
    "footer ";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
    column-gap: 10px;
    row-gap: 10px;
    
}




#header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#nav {
    grid-area: nav; 
}

.barra{
    background-color: #03121b;
}

.barras {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.barras ul{
    list-style: none;
}

.barras a{
    text-decoration: none;        
    font-weight: normal;       
    transition: .3s all ;
    font-size: 30px;
    color: #000000;
    
}

.barras img{
    width: 100px;
}
    
.barras h2{
    
    color:white;
    padding:7px;
    padding-bottom:7px;
    font-size:300%;   
}
     
.barras:hover a:hover{ 
    font-size: 35px;
    padding: 3px 0px; 
    background: rgba(23, 78, 112, 0.98);  
}

#section{
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#footer{
    grid-area: footer;
    background-color: #343334;
    text-decoration: none;
    
    
}

@media all and (min-width: 780px){
    #body_index{
        display: grid;
        grid-template-areas:
            "nav header header"
            "nav section section"
            "nav section section"
            "footer footer footer";
        grid-template-rows: 100px 1fr 1fr 75px;
        grid-template-columns: 200px 1fr 15%;
        height: 100vh;
        column-gap: 0px;
        row-gap: 0px;
    }
}